<h1> <%= current_user.username.capitalize %>'s List</h1>
  <br>
  <h3>Gear:</h3>
  <ul>
  <% @gears.each do |item| %>
  <li><%= item.name.capitalize %></li>
  <% end %>
  </ul>
  <br>
  <br>
  Go back to your <a href="/users/profile" value="submit">Profile Page</a><br>
  <a href="/logout" value="submit">Logout</a>
