<center><h1>Modify <%= @gear.name.capitalize %></h1>
<br>
<br>
<img src="https://images.studentuniverse.com/new/suwebui/photos/marketing/naturebackpacking.jpg" style="width:650px;height:400px;">


  <form action="/gear/<%= @gear.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    Change <%=@gear.name.capitalize%> to: <input type="text" name="name"><br>
    <br>
    <input type="submit" value="Change">
  </form>

  or

  <form action="" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete" id="Delete">
  </form>

  <br>
  <a href="/users/:id">Back to Profile Page</a>
  <br>
  <br>
  <a href="/logout">Logout</a>
