<center><h1>Hello, <%= @user.username.capitalize%>!!!</h1>
 <br>
<img src="https://mythailandtours.com/wp-content/uploads/2016/06/James-Bond-Island-tour.jpg" style="width:650px;height:400px;">
<ul>
<% @user.gears.each do |g| %>
<li>-<%= g.name.capitalize %>-</li>
<% end %>
</ul>
<br>
<br>
<p>Do you have more gear to<a href="/gear/new"> ADD?</a>
<br>
<br>
<a href="/gear/edit">Edit Gear?</a>
<br>
<h3>Need Ideas? Checkout these backpacking lists by destination!</h3>
<br>
<h2><a href="https://thesavvybackpacker.com/backpacking-europe-packing-list/">Europe</a></h2>
<h2><a href="https://www.bemytravelmuse.com/packing-for-southeast-asia/">Asia</a></h2>
<h2><a href="http://theworldonmynecklace.com/2015/06/29/summer-packing-list/">North America</a></h2>
<h2><a href="https://www.back-packer.org/south-america-packing-list/">South America</a></h2>
<h2><a href="https://www.tentree.com/blog/backpacking-in-africa/">Africa</a></h2>
<br>
<p> <a href="/logout">LOGOUT?</a></p>
