<center><h1>Prepared Backpacker</h1>
<h2>Get started preparing for your next adventure!</h2>
<img src="https://h1.hobystatic.com/articles/image/9f442224-6e9b-41da-a0ff-44f7f4c53d11" style="width:650px;height:450px;">
<h2>Create a new account below:</h2>
<form action="/signup" method="post">
  Enter Username: <input type="text" name="username" id="username"><br>
<br>
  Enter Email: <input type="text" name="email" id="email"><br>
<br>
  Enter Password: <input type="password" name="password" id="password"><br>
<br>
  <input type="submit" value="Create Account" id="Create Account">

</form>
